[Unit]
Description=Simple pubsub server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/via -d /var/via 8001
Restart=always
User=via
ProtectSystem=full
ProtectHome=yes
MemoryDenyWriteExecute=yes

[Install]
WantedBy=multi-user.target
