[Unit]
Description=Simple generic HTTP server for messages and storage
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/via -v -d /var/via 8001
Restart=always
User=via
ProtectSystem=full
ProtectHome=yes
MemoryDenyWriteExecute=yes

[Install]
WantedBy=multi-user.target
